In [4]:
import numpy as np
import pandas as pd

In [5]:
movies = pd.read_csv("tmdb_5000_movies.csv/tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv/tmdb_5000_credits.csv")
# this way we created two data frames

In [6]:
movies.head(1) # first row of the dataframe

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [7]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [ ]:
credits.head(1).cast.values

In [ ]:
credits.head(1).crew.values

In [10]:
# merging dataframes
# movies.merge(credits, on="title").shape # 23 rows, 4 from credits df and 20 from movies df and 
# one common column so total 23 columns

# new df after merging is named as movies as:
movies = movies.merge(credits, on="title")

In [11]:
movies.head(1) # got merged dataframe

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [12]:
# ðŸ“Œcontent based recommendation system -> 23 columns -> deciding to drop some of them
# decide like what is used to create tags:
# genres
# id
# keywords
# title
# overview (summary)
# cast
# crew

# ðŸ”´ no including these rn, but i want to but time constraints...as more
# runtime
# release_date
# spoken_languages

In [ ]:
movies.info() #Print a concise summary of a DataFrame. This method prints information 
# about a DataFrame including the index dtype and columns, non-null values and memory usage.

In [14]:
# new dataframe
movies = movies[["movie_id", "title", "overview", "genres", "keywords", "cast", "crew"]]

In [ ]:
# without any paramter, this head() gave only 5 rows
movies.head()

In [16]:
# Check if ANY null exists in whole DataFrame 
movies.isnull().values.any()

np.True_

In [17]:
# Count null values column-wise 
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [18]:
# check if any duplicates exists
movies.duplicated().any()

np.False_

In [19]:
# drop those rows with null values and in-place
movies.dropna(inplace=True)

In [20]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [21]:
# TODO is to make a new df with id, title, tag -> tag by merging columns -> overview, genres, 
# keywords, cast and crew -> first have to clean up these 4 columns (overview too clean[mtlb
# words only for filtering (me)] hi hai)
# first genres -> list of dictionaries, say at first indexed movie, i want value of key name from
# all dictionaries of first movie(0th indexed) in a list
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [22]:
def convert(obj):
    l = []
    for i in obj:
        l.append(i["name"]) # i is a STRING, not a dictionary
    return l

In [ ]:
# ERROR
# convert('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')
# âš ï¸ That input is NOT a list of dictionaries
# It is a STRING that looks like a list.

In [24]:
# ðŸŸ¢Correct approach: convert STRING â†’ Python object
import json

A FLOW:
DataFrame column
   â†“
String (JSON-like)
   â†“
json.loads()
   â†“
Python list / dict
   â†“
Now access keys

In [25]:
# json.loads() -> This function takes a JSON string and converts it into a corresponding Python 
# object, typically a dictionary.
def convert(obj):
    obj = json.loads(obj)   # string â†’ list of dicts
    l = []
    for i in obj:
        l.append(i["name"])
    return l

In [26]:
convert('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [27]:
# time for all rows with this convert function with in-place 
movies["genres"] = movies["genres"].apply(convert) 
# apply(func) Apply a function along an axis of the DataFrame. , axis=0(default) means apply function to each column.

In [28]:
movies.head() # see the genres :)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [29]:
# now the same for all left 3 columns (overview wala column thik hai he)
movies["keywords"] = movies["keywords"].apply(convert)

In [30]:
# next for cast, we are extracting first 3 actors' name (real name)
def convert3(obj):
    obj = json.loads(obj)   # string â†’ list of dicts
    l = []
    cnt = 0
    for i in obj:
        if cnt != 3:
            l.append(i["name"])
            cnt+=1
    return l

In [31]:
movies["cast"] = movies["cast"].apply(convert3)

In [32]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies.crew.iloc[0]

In [34]:
# filter where the job equals "Director" and then extract the name.
def fetch_directors(obj):
    obj = json.loads(obj)   # string â†’ list of dicts
    l = []
    for i in obj:
        if i["job"] == "Director": # its Director not director
            l.append(i["name"])
            break
    return l

In [35]:
movies["crew"] = movies["crew"].apply(fetch_directors)

In [36]:
movies.head() # data in a structured format

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [37]:
# string to list for overview column
# The Python split() method is a built-in string function that breaks a string into a 
# list of substrings based on a specified delimiter

movies["overview"] = movies["overview"].apply(lambda sentence: sentence.split()) # by-default whitespace

In [38]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [39]:
# TODO transformation to remove any whitespace in names of last 4 columns and made them a 
# single entity eg "Science Fiction" as "ScienceFiction"
# ðŸŸ¢ðŸ“Œlambda and list comprehension used :)
movies["genres"] = movies["genres"].apply(lambda x: [i.replace(" ", "") for i in x])

In [40]:
movies["keywords"] = movies["keywords"].apply(lambda x: [i.replace(" ", "") for i in x])
movies["cast"] = movies["cast"].apply(lambda x: [i.replace(" ", "") for i in x])
movies["crew"] = movies["crew"].apply(lambda x: [i.replace(" ", "") for i in x])

In [41]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [42]:
# TODO concatenate all these lists of 5 columns then convert them to string -> paragraph -> 
# tag column completed
movies["tag"] = movies["overview"] + movies["genres"] + movies["keywords"] + movies["cast"] + movies["crew"]

In [43]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tag
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes],"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [44]:
new_df = movies[["movie_id", "title", "tag"]]

In [45]:
new_df.head()

,movie_id,title,tag
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [ ]:
new_df["tag"] = new_df["tag"].apply(lambda x: " ".join(x)) # join() function is a built-in string method used 
# to combine elements of an iterable (like a list, tuple, or set) into a single string, 
# using a specified separator
# SYNTAX: separator.join(iterable)

In [ ]:
# SUGGESTION tag column to lower case
new_df["tag"] = new_df["tag"].apply(lambda x: x.lower())

In [48]:
new_df.head()

,movie_id,title,tag
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

ðŸŸ¢ðŸ“ŒTEXT VECTORIZATION and Stemming using NLTK

In [49]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [50]:
# ps.stem() method we will use:
# ps.stem("loving") # love
# ps.stem("dancing") # danc

# like this, for our df we'll make a fun
def stem(text):
    y=[]
    for i in text.split(): # we saw how to do stemming on sentences
        y.append(ps.stem(i))
    return " ".join(y)

In [ ]:
new_df["tag"] = new_df["tag"].apply(stem)

In [52]:
# Import CountVectorizer class from sklearn
# This class is used to convert text data into numerical form
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words="english")
# Created an object of CountVectorizer
# Think of this as creating an empty word-count machine

# -> now every movie become a vector in 5000 dimensional space
# -> means 5000 unique words from the corpus[actual data fed to ml algos for processing(me)]
# -> and why 5000 -> ye depend krta hai, km se km words m best 
# performance niklna hai -> like if we take 10000, then
# utna hi dimensionality bd jatta hai data ka, can be problematic

In [53]:
# 1. fit()      -> learns all unique words from the text (vocabulary)
# 2. transform() -> converts text into numbers based on word counts
vector = cv.fit_transform(new_df["tag"])

# Each row = one document (string)

In [ ]:
# Print the vocabulary (unique words)
# These words become the column names in the numeric matrix
print(cv.get_feature_names_out())

In [ ]:
# Convert sparse matrix into a normal 2D array and print it
# Rows = documents
# Columns = words (from the vocabulary above)
# Values = how many times the word appears in that document
print(vector.toarray())

ðŸ“ŒðŸŸ¢Stemming using NLTK ->
doing after learning text vectorization but should be done before CountVectorization & in text cleaning pipeline.

In [56]:
# now next -> finding the distances between two vectors
# -> will not use euclidean distances as it fails in higher dimensions
# -> instead we use cosine distance -> angle b/w two vectors
# -> distance inversly proportional to similarity

# cosine distance of every movie with every movie

In [57]:
from sklearn.metrics.pairwise import cosine_similarity

In [58]:
similarity = cosine_similarity(vector)

In [59]:
similarity.shape # 4806*4806 -> total 4806 movies hai, like first
# movie ka 4805 movies k saath similarity (similarity score: 0 to 1 k beech hi hoti hai)
# is type se 4806 * 4806 ka ek matrix form hui hai jism diagonal saree 
# 1 hai, b/c first movie ki similarity first movie k saath 1 hi hogi
# like-wise all 4806 movies
# aur vo 5000 too unique words the jo hmn vectorise kie the(me)

(4806, 4806)

In [ ]:
# MAIN FUNCTION -> recommend 5 similar movies for a specific movie

similarity[0] #-> get similarity score of first movie with all 4806 movies

In [61]:
#  all in main function ->
# TODO Get index of the movie
# TODO Attach index with similarity score (IMPORTANT)
# TODO Sort by similarity score (highest first)
# TODO Remove itself & take TOP 5
# TODO Get actual item names (from DataFrame)
# TODO also user and movie fetching m .lower() used for a bit user exp -> 
# We use .str.lower() because:
# new_df["title"] is NOT a single string, it is a column (Series) of many strings
# And:
# Pythonâ€™s .lower() works on one string
# Pandasâ€™ .str.lower() works on every string in the column

In [62]:
def recommend(movie):
    movie_index = new_df[new_df["title"].str.lower() == movie].index[0] # .[0] think like .index is
    # a box and we take first element -> [0][0] -> 0
    distances = similarity[movie_index]
    movies_list = sorted(
        list(enumerate(distances)),  # (index, similarity_score)
        reverse=True, # descending order
        key=lambda x: x[1]) # sorting on similarity wale pr not on index pr
    top_5 = movies_list[1:6]  
    for i in top_5:
        print(new_df.iloc[i[0]].title) 
        # i[0] -> index
        # i[1] -> similarity score

In [63]:
# gets highest cosine similarity values (excluding itself)
user_input = input("Type: ").lower()
recommend(user_input)

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

DONE MODEL BUILDING âœ… -> next website dev and deployment :)

In [64]:
import pickle

In [67]:
pickle.dump(new_df, open("movies_df.pkl", "wb"))
pickle.dump(similarity, open("similarity_mat.pkl", "wb"))